<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>项目交付管理系统</title>
</head>
<body>
	<h2><a href="/">首页</a></h2>
	<div>欢迎联系我们</div>
	<div>联系地址:广州越秀区狮带岗小区狮带岗东20号401</div>
	<div>联系电话：18565029972</div>
	<div>联系人：成先生</div>
	<div><a href="/login">登录</a></div>
	<div><a href="/logout">退出</a></div>
	<div><a href="/admin/index">系统管理平台</a></div>
	<div><a href="/db/index">数据库管理平台</a></div>
	<div><a href="/user/index">项目管理平台</a></div>
	<div><a href="/contact">联系我们</a></div>
</body>
</html>