<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.fandou.springboot.mybatis.dao.readonly.ReadOnlyComputerMapper">
	<select id="getComputer" parameterType="int"
		resultType="com.fandou.springboot.mybatis.model.Computer">
		select id,name,model from computer where id = #{id}
	</select>
	<select id="getAllComputers"
		resultType="com.fandou.springboot.mybatis.model.Computer">
		select id,name,model from computer
	</select>
</mapper>